
html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans',sans-serif !important;
  background-image: url("./images/4030971.jpg");
  background-size: 100%;
  background-position: bottom;
  overflow: overlay;
}

.mainCard {
  padding: 0 !important;
}

.cardChart {
  padding: 0 !important;
}

.cardTitle{
  text-align: center;
}

.signInContainer {
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 0!important;
}

.signUpContainer {
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

form{
  padding: 20px;
  margin-top: 60px;
}

form button, form h5{
  margin: 20px 0;
}

.square{
  height: 300px;
  width: 300px;
  background-color: #F15152;
  transition: 1s;
}

.square:hover {
  background-color: #3e8e41;
  /*transform: rotate(360deg);*/
  width: 100%;
  outline-color: white;
  outline-width: 10px;
  outline-style: solid;
  transform: rotate(90deg);
}

.signInBack {
  /* background-image: url("./images/mainBack.jpg")!important; */
  margin-top: 1%;
}

.nav-extended {
  opacity: 70!important;
}

.brand-logo {
  left: 2%!important;
}

.right {
  margin-right: 2%!important;
}

.left {
  margin-left: 1%!important;
}

.brand-logo{
  font-family:"Posterama 2001 W04 Light" !important;;
}

.mapBG {
  position: absolute!important;
  height: 100%!important;
  width: 100%!important;
  margin: 0!important;
  padding: 0!important;
}

.addLandForm {
  position: relative!important;
  margin-right: 70%!important;
  margin-left: 1%!important;
  margin-top: 5%!important;
  border-radius: 24px;
  padding: 20px!important;
}

.landInfo {
  position: relative!important;
  margin-right: 70%!important;
  margin-left: 1%!important;
  margin-top: 5%!important;
  border-radius: 24px;
  padding: 20px!important;
}

.sellLandForm {
  margin-top: 50px;
  border-radius: 24px!important;
}

.scrollLand {
  margin-top: 2%!important;
  margin-left: 1%!important;
  margin-right: 70%!important;
  position: relative!important;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 24px;
  padding: 0!important;
}

.propertyCard {
  margin-top: 10px!important;
  border-radius: 24px!important;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),

textarea.materialize-textarea:focus:not([readonly]){
  border-color: #01579b;
  box-shadow: none;
}