
html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans',sans-serif !important;
  /* background-image: url("./images/4030971.jpg");
  background-size: 100%;
  background-position: bottom;
  background-color: #eeeeee ;
  overflow: overlay; */

}

.mb-0 {
  margin-bottom: 0!important;
}

.mainCard {
  padding: 0 !important;
}

.cardChart {
  padding: 0 !important;
}

.cardTitle{
  text-align: center;
}

.signInContainer {
  border-radius: 24px !important;
  padding: 0!important;
}

.signUpContainer {
  border-radius: 24px !important;
}

form{
  padding: 20px;
  margin-top: 60px;
}

form button, form h5{
  margin: 20px 0;
}

.square{
  height: 300px;
  width: 300px;
  background-color: #F15152;
  transition: 1s;
}

.square:hover {
  background-color: #3e8e41;
  /*transform: rotate(360deg);*/
  width: 100%;
  outline-color: white;
  outline-width: 10px;
  outline-style: solid;
  transform: rotate(90deg);
}

.signInBack {
  /* background-image: url("./images/mainBack.jpg")!important; */
  margin-top: 1%;
}

.nav-extended {
  opacity: 70!important;
}

.brand-logo {
  font-family:'Open Sans',sans-serif !important;
  padding-left: 25px !important;
}

.right {
  margin-right: 2%!important;
}

.left {
  margin-left: 1%!important;
}

.mapBG {
  position: relative!important;
  height: 100%!important;
  width: 100%!important;
  margin: 0!important;
  padding: 0!important;
}

.addLandForm {
  border-radius: 24px;
  padding: 20px!important;
  margin-top: 14px!important;
}

.landInfo {
  position: relative!important;
  margin-right: 70%!important;
  margin-left: 1%!important;
  margin-top: 5%!important;
  border-radius: 24px;
  padding: 20px!important;
}

.sellLandForm {
  margin-top: 50px;
  border-radius: 24px!important;
}

.scrollLand {
  margin-top: 2%!important;
  overflow: auto;
  border-radius: 24px;
  padding: 0!important;
  max-height: 680px;
  width: 300px!important;
  background-color: rgba(255, 255, 255, .2) !important;
  box-shadow: 0 5px 15px rgba(0,0,0, .2);
}

.scrollLand::-webkit-scrollbar {
  width: 0.25rem;
}

.scrollLand::-webkit-scrollbar-track {
  background: transparent;
}

.scrollLand::-webkit-scrollbar-thumb {
  background: transparent;
}

.propertyCard {
  margin-top: 10px!important;
  border-radius: 24px!important;
  opacity: 0.8;
}

.propertyCard:hover {
  opacity: 1.0;
}

.detailInfoCard {
  position: relative!important;
  border-radius: 24px!important;
}

.yourLandFloatingDiv {
  position: absolute!important;
  padding-top: 50px!important;
  top: 0;
  left: 20px;
  width: 400px;
}

.signUpGif {
  margin-top: 52px!important;
}

.signInForm {
  margin-top: 50px!important;
}

.notifIcon {
  float: left!important;
  text-align: center !important;
}

.sideNavText {
  text-align: center !important;
}

.sideNavText:hover {
  text-align: center !important;
  color: #304ffe !important; 
}

.divide {
  background-color: white;
  height: 1px;
  width: 100%;
}

.notifCard {
  margin: 0!important;
}

.collapsible-header {
  margin: 0!important;
}

.collapsible-body {
  background-color: #ef5350!important;
  padding: 0!important;
}

.mainSideNav {
  height: 100vh!important;
  padding: 0!important;
  border-radius: 0 24px 24px 0;
}

.collapHead .collapsible-header, .collapHead {
  background-color: transparent!important;
  border: none !important;
  width: 100%;
  padding-left: 10px !important;
  font-size: 14px !important;
}

.collapHead .collapsible-body {
  background-color: #212121 !important;
}

.allTransacCollap .collapsible-body {
  background-color: white !important;
  padding: 10px !important;
}

.allTransactText {
  margin: 0 !important;
  padding: 20px !important;
}

.dashSec2 {
  background-color: #e0e0e0 !important;
  border-radius: 24px !important;
  height: 100vh !important;
  padding: 20px !important;
}

.acceptSec {
  height: 100vh !important;
}

.collapWrapper {
  height: 100vh !important;
  background-color: #e0e0e0 !important;
  border-radius: 24px !important;
  padding: 10px !important;
}

.collapWrapperDash {
  height: 500px !important;
  background-color: #e0e0e0 !important;
  border-radius: 24px !important;
  padding: 10px !important;
}

.signInWrapper {
  position: absolute !important;
}

.signInRow {
  padding: 10px !important;
}

.mapElement {
  border-radius: 24px !important;
}

.sidenav {
  border-radius: 0 24px 24px 0 !important;
  background-color: #212121 !important;
  width: 200px !important;
}

.logout {
  float: bottom !important;
}

.sideNavCard {
  border-radius: 24px !important;
  margin: 10px !important;
  background-color: #039be5 !important;
}

.chartCard {
  border-radius: 24px !important;
  height: 350px !important;
}

.cardDropDown {
  margin-left: 165px !important;
}

.dropdown-content {
  height: 173px !important;
}

.buyLandContainer {
  margin-right: 300px !important;
  background-color: #e0e0e0 !important;
  padding: 20px !important;
  border-radius: 24px !important;
}

.propertySummary {
  border-radius: 24px !important;
}

.emptyText {
  text-align: center !important;
}

.viewAllCards {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 12px !important;
  top: 50px !important;
}

.chartjs-render-monitor{
  border-radius: 24px !important;
  padding-top: 0px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  padding-bottom: 10px !important;
}

.sellDetailChart {
  margin-right: 10px !important;
  margin-top: 10px !important;
  margin-bottom: 5px !important;
  height: 250px !important;
}

.dashCard {
  height: 100px !important;
  padding: 0 !important;
}

.inputDashCard {
  margin: 0 !important;
}

.landing1 {
  height: 620px !important;
  padding: 0px !important;
}

.landing2 {
  background-color: white !important;
}

.subFirst {
  padding-top: 100px !important
}

.subFirstBtn {
  background-color: #1ED760 !important;
  border-radius: 24px !important;
}

.signUpBtn {
  padding: 10px !important;
}

.holistic {
  padding-top: 15% !important;
  text-align: center !important;
  font-weight: bold;
}

.forParallax {
  opacity: 0.5 !important;
}

.featureImages {
  height: 200px !important;
}

.featureCard {
  border-radius: 24px !important;
}

.featureImagesSec {
  height: 200px !important;
  width: 250px !important;
}

.theNav {
  background-color: black !important;
  transition: background-color 200ms linear !important;
}

.profileSec {
  background-color: #2196f3 !important;
  height: 100vh !important;
  border-radius: 24px !important;
}

.upperCase {
  text-transform: uppercase !important;
  padding-left: 25px !important;
}

.circlePic {
  height: 200px !important;
  width: 200px !important;
  margin-left: 130px !important
}


/*=========TESTING================*/
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),

textarea.materialize-textarea:focus:not([readonly]){
  border-color: #01579b;
  box-shadow: none;
}

